<section id="footer-1">
    <h1 id="footerhead_1">Request a Call Back</h1>
    <p id="footerpara_1" style="font-weight: 100;">Our Experts will reach out to you.</p>
    <button mat-raised-button id="request" routerLink="/requestdemo">Request</button>
</section>
<section id="footer-2">
    <div id="iconscontainer">
        <h1>NextHire</h1>
        <a href="https://www.facebook.com/HireNext-105261108540711"><img src="assets/images/facebook.svg" id="facebook" class="icons"></a>
        <a href="https://www.instagram.com/next.hire/"><img src="assets/images/instagram.svg" id="instagram" class="icons"></a>
        <a href="https://twitter.com/Hirenext_in"><img src="assets/images/twitter.svg" id="twitter" class="icons"></a>
    </div>
    <div id="resources">
        <h1 id="resourceheading">Resources</h1>
        <div style="display: flex;flex-direction: column; justify-content: center;gap: 0.4rem;">
            <a routerLink="/" class="resourcespara">Home</a>
            <a routerLink="/about" class="resourcespara">About US</a>
            <a routerLink="/requestdemo" class="resourcespara">Contact</a>
        </div>
    </div>
</section>
<section id="footer-3">
    <p id="copyright">Copyright@2021 NEXTHIRE LLP</p>
</section>