<section id="hero">
    <div id="herotext">
        <h1 id="heroheading">Relax! We're Here to Hire.</h1>
        <p id="heropara">Let us find the right talent that you are looking for.</p>
        <!-- <div class="buttons">
            <button class="herobuttons">Recruit</button>
            <button class="herobuttons" id="findjobs">FindJobs</button>
        </div> -->
    </div>
    
</section>
<section id="allbrands">
    <p id="brandtext">WE HAVE DONE HIRING FOR OUR VARIOUS PARTNERS.</p>
    <div id="brandscontainer">
        <img src="assets/images/astrotalk.png" alt="" class="brands">
        <img src="assets/images/growsimplee.png" alt="" class="brands">
        <img src="assets/images/citymall.png" alt="" style="height: 20px;" class="brands">
        <img src="assets/images/anar.png" alt="" style="width: 90px;" class="brands">
        <img src="assets/images/gromo.png" alt="" class="brands">
        <img src="assets/images/knowcross.png" alt="" class="brands">
    </div>
</section>
<section id="whatwedo">
    <img id="whatwedosvg" src="assets/images/whatwedo.svg" alt="">
    <h1 id="whatheading" class="heading">What We do?</h1>
    <div id="whatpara" class="para">
        <p>At NextHire, we partner with companies to hire talents
            that fits you by evaluating candidates across skill sets
            and company requirements.</p>
            
        <p>We believe in providing best in class services to our
        clients and ensure a dedicated account manager that
        helps you to ensure overall smooth hiring process.</p>
    </div>
</section>
<section id="whywedo">
    <img id="whywedosvg" src="assets/images/whywedo.svg" alt="">
    <h1 id="whyheading" class="heading">Why We do?</h1>
    <div id="whypara" class="para">
        <p>The recruitment industry remains
            open to opportunities for
            improvement.</p>
            
            <p>The Industry is facing with Unrealistic Salary hikes, high drop rates, Supply v/s Demand Gap etc</p>
    </div>
</section>
<section id="whatdifferent">
    <h1 id="whatdifferentheading" class="heading mb-4">What makes Nexthire Different?</h1>
    <p class="para mb-5">Reviews regarding Nexthire from different companies.</p>
    <div id="whatcontainer">
        <div class="container">
            <img src="assets/images/partnershipicon.svg" alt="" class="icon">
            <h2 class="heading mb-4" >Hire Top Talent</h2>
            <p class="para" style="margin:0">Delivering the right workforce solutions, right on time
                We work closely with our clients to address and anticipate their needs,
                finding and attracting talent with relevant skills.
                Technology will help us to add value and react to workplace needs efficiently.</p>
        </div>
        <div class="container">
            <img src="assets/images/findjobicon.svg" alt="" class="icon">
            <h2 class="heading mb-4">Find Your Dream Job</h2>
            <p class="para"  style="margin:0">Create rewarding careers
                We help candidates to find employment opportunities,
                develop their skills, and take their next career steps.
                Our expertise, digital tools, and network connect people with job opportunities,
                providing meaningful roles and a stimulating working environment.</p>
        </div>
    </div>
</section>
<!-- <section id="testimonials">
    <h1 id="testiomonialheading" class="heading">Our Client Testimonials</h1>
    <p id="testimonialpara" class="para">Reviews regarding Nexthire from different companies.</p>
    <div id="testimonialcontainer">
        <div class="container-two">
            <img src="assets/images/stars.svg" alt="" class="stars">
            <p class="testimonialparas">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quo tenetur officia repellendus et fugit omnis. Non blanditiis amet velit, nesciunt voluptate eius quas, officiis rem beatae, eos harum pariatur?</p>
            <h2 class="testimonialname">Himangshu Kumar</h2>
            <p class="testimonialdes">Software(Company)</p>
        </div>
        <div class="container-two">
            <img src="assets/images/stars.svg" alt="" class="stars">
            <p class="testimonialparas">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus fuga exercitationem facilis ad quasi veniam recusandae voluptas aperiam temporibus consectetur vero, sed esse voluptate commodi voluptatum neque facere amet dolore.</p>
            <h2 class="testimonialname">Hemant Kumar</h2>
            <p class="testimonialdes">Marketing(Company)</p>
        </div>
        <div class="container-two">
            <img src="assets/images/stars.svg" alt="" class="stars">
            <p class="testimonialparas">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus fuga exercitationem facilis ad quasi veniam recusandae voluptas aperiam temporibus consectetur vero, sed esse voluptate commodi voluptatum neque facere amet dolore.</p>
            <h2 class="testimonialname">Shubham Kumar</h2>
            <p class="testimonialdes">Designing(Company)</p>
        </div>
    </div>
</section> -->
